<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--3des 加密key 24位-->
  <add key="TDES_Key" value="rfvtgbVmZ2hpamtsbW5vcHFy"/>
  <add key="TDES_IV" value="01234567"/>

  
  <!--MongoDb-->
  <!--<add key="MgConn" value="mongodb://localhost:27017"/>-->
  <add key="MgConn" value="mongodb://pmp:123456@127.0.0.1:27017"/>
  <add key="MgDBName" value="pmp"/>
  <add key="MgPrefix" value="pro"/>
</appSettings>