
@{
    ViewBag.Title = "用户审核";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="ptb10 bb">
    <span>我的信息 > 用户审核列表</span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">用户审核</h3>
</div>

<div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">注册类型：</label>
    <div class="col-sm-10" style="width:150px">
        <select class="form-control" id="accountType">
            <option value="1">个人用户</option>
            <option value="2">企业用户</option>

        </select>
    </div>
    <label for="firstname" class="col-sm-2 control-label">审核状态：</label>
    <div class="col-sm-10" style="width:150px">
        <select class="form-control" id="auditType">
            <option value="1">未审核</option>
            <option value="2">审核通过</option>
            <option value="3">审核未通过</option>
        </select>
    </div>
</div>

<div style="padding:15px" id="auditList">
</div>
<script type="text/javascript">

    $(function () {
        bindList();
    })

    $("#accountType").change(function () {
        bindList();
    });
    $("#auditType").change(function () {
        bindList();
    });

    function bindList() {

        var accountType = $('#accountType option:selected').val();
        var auditType = $('#auditType option:selected').val();

        var data = { AuditType: auditType, AccountType: accountType };
        $.get("/Account/GetAccountAuditList", data, function (res) {
            var html = [];
            html.push('<table class="table table-striped">' +
                           '<thead>' +
                               '<tr>' +
                                   '<th>注册类型</th>' +
                                   '<th>注册人</th>' +
                                   '<th>联系方式</th>' +
                                   '<th>技术领域</th>' +
                                   '<th>提交时间</th>' +
                                   '<th>状态</th>' +
                                   '<th>操作</th>' +
                              ' </tr>' +
                           '</thead>' +
                           '<tbody>');

            var tempAuditType = "";
            var tempId = "";

            for (var i = 0; i < res.length; i++) {
                if (accountType == 1) {
                    tempId = res[i].ID;
                    tempAuditType = "个人";
                } else {
                    tempId = res[i].CompanyReal_ID;
                    tempAuditType = "企业";
                }

                html.push('<tr>' +
                        '<td style="display:none">' + accountType + '</td>' + //账户类型
                        '<td style="display:none">' + tempId + '</td>' + //如果是个人账户 赋值用户ID，公司账户赋值公司ID
                        '<td style="display:none">' + res[i].ID + '</td>' + //如果是个人ID
                        '<td>' + tempAuditType + '</td>' +
                        '<td>' + res[i].PersonInfo.RealName + '</td>' +
                        '<td>' + res[i].Phone + '</td>' +
                        '<td>' + res[i].PersonInfo.Skill + '</td>' +
                        '<td>' + res[i].PersonReal.CreatesTime + '</td>');
                if (auditType == 1) {
                    html.push('<td>未审核</td>');
                    html.push('<td><button type="button" class="btn_Pass btn btn-success">通过</button>' + '&nbsp' +
                            '<button type="button" class="btn_NotPass btn btn-danger">未通过</button></td>');
                }
                else if (auditType == 2) {
                    html.push('<td>审核通过</td>');
                    html.push('<td><button type="button" class="btn_see btn btn-primary">查看</button></td>');
                } else if (auditType == 3) {
                    html.push('<td>审核未通过</td>');
                    html.push('<td><button type="button" class="btn_see btn btn-primary">查看</button></td>');
                }
                html.push("</tr>");
            }
            if (res.length == 0) {
                html.push('<tr>');
                html.push('<td colspan="7" style="text-align:center;vertical-align:middle;">暂无数据</td>');
                html.push('</tr>');
            }
            html.push('</tbody>' + '</table>');
            $("#auditList").empty();
            $("#auditList").append(html.join(""));
            BindEvent();
        }, "json");
    }

    function BindEvent() {
        Array.prototype.slice.call($(".btn_Pass")).forEach(function (item) {
            item.onclick = function () {
                var type = $(item).parents("tr").find("td").eq(0).text();
                var id = $(item).parents("tr").find("td").eq(1).text();
                audit(2, type, id, "审核通过","");
            };
        });

        Array.prototype.slice.call($(".btn_see")).forEach(function (item) {
            item.onclick = function () {
                var id = $(item).parents("tr").find("td").eq(2).text();
                window.open("/Account/AccountDetail?uid=" + id);
            };
        });

        Array.prototype.slice.call($(".btn_NotPass")).forEach(function (item) {
            item.onclick = function () {
                var type = $(item).parents("tr").find("td").eq(0).text();
                var id = $(item).parents("tr").find("td").eq(1).text();

                var html =
            '<div class="contentwrapper"> ' +
                ' <form class="stdform" method="post">' +
                     '<div>' +
                       '<span>' +
                       '      <textarea class="longinput" rows="4" placeholder="未通过原因" cols="80" style="width: 100%"></textarea>' +
                        '</span>' +
                       '<span>' +
                   '      <button class="btn_NotPass btn btn-danger" style="margin: 20px 20px " type="button">提交</button>' +
                   '</span>' +
                ' </div>' +
              '  </form>' +
            '</div>';
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['500px', '290px'], //宽高
                    content: html
                });
                $(".layui-layer-title").text("请填写未通过原因");

                Array.prototype.slice.call($(".btn_NotPass")).forEach(function (item) {
                    item.onclick = function () {
                        if ($(".longinput").val() == "") {
                            layer.msg("原因不能为空"); return;
                        }
                        audit(3, type, id, "审核成功", $(".longinput").val())
                    };
                });
            };
        });
    }

    function audit(res, type, id, message, notpassstr) {
        var data = { res: res, type: type, id: id, notpassstr: notpassstr };
        $.get("/Account/AccountAuditRes", data, function (res) {
            if (res == "True") {
                $("#layui-layer1").hide();
                $("#layui-layer-shade3").hide()
                layer.msg(message, { time: 2000, icon: 1 });
            } else {
                layer.msg("出现异常", { time: 2000, icon: 1 });
            }
        })
    }
</script>
