
@{
    ViewBag.Title = "用户审核";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div style="height:30px">
    <span>我的信息->个人身份认证</span>
</div>
<div>
    <h5 style="color: #333;font-size: 16px;">个人认证</h5>
</div>
<div style="padding:15px">
    @*<table class="table table-striped">
        <caption>用户审核</caption>
        <thead>
            <tr>
                <th>注册类型</th>
                <th>注册人</th>
                <th>联系方式</th>
                <th>技术领域</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tanmay</td>
                <td>Bangalore</td>
                <td>560001</td>
            </tr>
        </tbody>
    </table>*@

    </div>
</div>