
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="ptb10 bb">
    <span>会员中心 > 首页</span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">会员中心</h3>
</div>