.page .previous i,.page .next i,.left_rounded ,.right_rounded,.layer_top .colse,.refund_success .layer_bd .text i,.refund_failure .layer_bd .text i,.confirm_refund .info .img_lt,.confirm_refund .info .info_right .ticket_rt .train_num i,.cancel .layer_bd .text i{ background-image:url(/images/public/train.png); background-repeat:no-repeat;}
/*当前位置*/
.member_bd { width:1000px;margin:0 auto;}
.currentP { float:left;width:1000px;height:42px;line-height:42px;color:#666666;}
.currentP a { color:#666666;}
.currentP .blue { color:#2e81d4;}
.member_bd .member_lt { float:left;}
/*右侧标题*/
.member_rt { float:right;width:791px;}
.member_rt .title_rt { float:left;width:789px;border:1px solid #e7e7e7; border-bottom:1px solid #93bde6;border-radius:2px 2px 0 0;height:30px;}
.member_rt .title_rt p { float:left;width:769px;height:29px;border-bottom:1px solid #3483d1;line-height:29px;color:#3483d1; font-size:14px;padding-left:20px;}
/*page*/
.page { width:100%;float:left;margin-top:20px;}
.page a { color:#555555;}
.page .previous,.page .next { float:right;width:63px;height:27px;border:1px solid #dcdcdc;line-height:27px;}
.page .previous i{ background-position:-113px -209px;width:7px;height:10px;float:left;margin:10px 6px 0 8px;}
.page .next i { background-position:-133px -209px;width:7px;height:10px;float:left;margin:10px 6px 0 8px;}
.page .pageIndex,.page .next { float:right;margin:0 4px;border-right:1px solid #dcdcdc;height:29px;}
.page .pageIndex a,.page .next a{float:left; width:31px;height:27px;text-align:center;line-height:27px;border:1px solid #dcdcdc;border-right:0px;}
.page .pageIndex a:hover, .page .pageIndex a:active, .page .pageIndex a.current {background-color:#ff9700;color:#fff;border:1px solid #ff9700;border-right:0px;}
