*{ padding:0; margin:0;font-family:Microsoft YaHei;font-family:"Microsoft YaHei"!important;_font-family:arial,"\5b8b\4f53",sans-serif,"Microsoft YaHei",tahoma; color:#333333; font-size:12px;outline:none;}
html,body{ clear: both; margin: 0 auto;padding:0; margin:0;width: 100%;outline:none;min-width:1024px;}
input::-ms-clear{display:none;}
img{ border:0;}
input,button{outline:none;}
u{text-decoration:none;}
em{font-style:normal;}
b{font-weight:normal;}
a{ cursor:pointer;text-decoration:none;outline:none;}
select{font-family:Microsoft YaHei;outline:none;}
textarea { font-family: Microsoft YaHei;resize:none;outline:none;}
.font_bold{font-weight:bold;}
ul{ list-style:none;}
u, i { font-style:normal;}
.left{float:left;}
.right{float:right;}
.p_rel{ position:relative;}
table { border-collapse:collapse; border-spacing:0;}
.bold{ font-weight:bold;}
.cursor{ cursor:pointer;}
.center{ text-align:center;}
dfn { font-style:normal;}
.size16px{ font-size:16px;}
button { border:0px;vertical-align:middle;text-align:center;cursor:pointer;}
/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset;}*/

.top,.nav { width:1200px; margin:0 auto;}
/*---顶部---*/
.top_bg{background-color:#fff;height:60px;}
.top_bg .logo{background:url(/images/public/logo.png) 0 0 no-repeat;width:297px;height:39px;float:left; margin:9px 167px 0 0;}
.top_bg .top_center{float:left;line-height:60px;}
.top_bg .top_center .phoneapp{background:url(/images/public/headtop.gif) -406px -36px no-repeat;width:8px;height:14px;float:left;margin-top:23px;}
.top_bg .top_center .weibo{background:url(/images/public/headtop.gif) -431px -13px no-repeat;width:19px;height:16px;float:left;margin-top:21px;}
.top_bg .top_center b{margin-left:3px;color:#666666;float:left;}
.top_bg .top_center u{background:url(/images/public/headtop.gif) -522px -15px no-repeat;width:1px;height:11px;float:left;margin:24px 9px 0;}
.top_bg .top_center dfn{color:#ff8800;float:left;font-style:normal;margin:0 5px;}
.top_bg .top_right{float:right;width:202px;overflow:hidden;height:60px;}
.top_bg .top_right .top_rightturn{width:1414px;float:left;height:60px;}
.top_bg .top_right .top_rightturn td { width:202px;height:60px;vertical-align:middle;text-align:center;}
.top_bg .top_right a{background:url(/images/public/headtop.gif) no-repeat;display:inline-block;*display:inline;*zoom:1;}
.top_bg .top_right .d2dimg1{background-position:0 -48px;width:189px;height:53px;}
.top_bg .top_right .d2dimg2{background-position:-218px -50px;width:189px;height:59px;}
.top_bg .top_right .d2dimg3{background-position:-444px -53px;width:175px;height:55px;}
.top_bg .top_right .d2dimg4{background-position:0 -122px;width:191px;height:60px;}
.top_bg .top_right .d2dimg5{background-position:-198px -127px;width:185px;height:60px;}
.top_bg .top_right .d2dimg6{background-position:-395px -133px;width:202px;height:60px;}
.top_bg .top_right .d2dimg7{background-position:0 -202px;width:195px;height:54px;}
.English{float:left;background:23px 23px url(/images/public/English.gif) no-repeat;width:100px; height:44px;}
/*---顶部结束---*/
/*newYear*/
.newYear{background:url(/images/public/newYear.png) left top no-repeat;height:60px;}
.newYear .top_right{display:none;}
.top_bg .newYear .logo{margin:9px 134px 0 534px; width:140px;overflow:hidden;}
.top_bg .newYear .top_center{line-height:20px;width:240px;padding-top:7px;}
.top_bg .newYear .top_center .hide{display:none;}
.newYear .English{width:240px;background:5px center url(/images/public/English.gif) no-repeat; height:30px;}
/*---导航---*/
.menu li.nav_parent a i,.login .login_lf .me,.login .login_lf b.mehover,.error_box span.error_box_left,.public_error_box i,.prompt_box .close,.prompt_box .text i,.city_box p a,.pingyin_close,/*.prev,*/.next_page{ background-image:url(/images/TrainTicket/icon.png);_background-image:url(/images/TrainTicket/icon.gif); background-repeat:no-repeat;}
.nav_width { width:100%;height:40px;background:#3b8de3; position:relative; z-index:8;}
.menu ,.menu ul{ width:820px; float:left;}
.menu li{ float:left; border-top:2px solid #3b8de3; height:38px;line-height:38px;}
.menu li.index a { /*padding:0 15px;*/padding:0 23px;}
.menu li a u { float:left;font-size:16px;color:#fff;}
.menu .nav_parent a i{background-position:-230px -193px;width:9px;height:5px;float:left;margin:18px 0 0 4px;}
.menu li.nav_current {border-top:2px solid #ff8800;background-color:#fff;}
.nav_on {width:100%;height:38px; background-color:#fff;position:absolute;left:0px;top:40px;-moz-box-shadow:0 1px 5px #e3e3e3;-webkit-box-shadow:0 1px 5px #e3e3e3;box-shadow:0 1px 5px #e3e3e3;}
.menu li.nav_current a u{ color:#282828;}
.menu li.nav_current a i{ background-position:-243px -193px; }
.menu li.nav_current .center { height:38px; line-height:38px;width:1200px;margin:0 auto;}
.menu li.nav_current dl#flight {float:left;/*margin-left:62px;*/margin-left:86px;_display:inline;}
.menu li.nav_current dl#hotel {float:left;/*margin-left:137px;*/margin-left:177px;_display:inline;}
.menu li.nav_current dl dt { float:left; margin-right:28px;_display:inline;}
.menu li.nav_current dl a {color:#333333; font-size:15px; padding:0px;line-height:38px;float:left;}
.menu li.nav_current dl a:hover {color:#ff8800; }
.menu li.nav_current dl dt.a_current { border-bottom:1px solid #ff8800; height:37px;}
.menu li.nav_current dl dt.a_current a { color:#ff8800;}
.menu li a{ float:left; color:#fff; font-size:16px;/*padding:0 15px;*/padding:0 23px;}
.menu li.card{ position:relative;}
.menu li.card em{ display:block; width:57px; background:url(/images/public/card_ts.png) no-repeat; height:22px; position:absolute; top:-10px; left:25px; }
#Login {background:#ffb031;}
.login{ float:right;background:#ffb031; width:172px; height:40px;position:relative;}
.login .user{ background:url(/images/public/my.png) no-repeat;_background:url(/images/public/my.gif) no-repeat; width:24px; height:24px; display:inline-block; float:left;margin:8px 6px 0 5px;}
.login .login_title{ padding:2px 5px;}
.login div{ color:#fff; margin-top:4px;}
.login .login_lf{ float:left;width:99px;cursor:pointer;}
.login .login_lf span{width:99px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:left;color:#fff;line-height:16px;}
.login .login_lf a{float:left;}
.login .login_lf p{ float:left;width:99px;}
.login .login_lf .me{background-position:-264px -194px; width:8px;height:4px;float:left;margin:5.5px 0 0 5px;overflow:hidden;}
.login .login_lf b.mehover{background-position:-254px -194px;}
.login .login_rg{ float:right; margin-right:6px;}
.login a{ color:#fff;line-height:16px;}


.login_list{ width:170px; border:1px solid #c3c3c3; border-top:none;background-color:#fff;z-index:99;position:absolute; left:0px;top:36px; border-bottom-left-radius:3px;border-bottom-right-radius:3px;box-shadow:0 0 3px rgba(0,0,0,0.2);}
.login_list ul{ background:#fff;margin:0 13px;padding:10px 0 3px 0;float:left;width:144px;_display:inline;}
.login_list ul ul.border_top{border-top:1px solid #c3c3c3;margin:5px 0 0 0;padding:5px 0 0 0;}
.login_list li{ line-height:25px;float:left;width:100%;}
.login_list li a{ float:left;width:100%;color:#0984C2; line-height:25px;}
.login_list li a:hover{text-decoration:underline;}
/*登录*/
.denglu {width:170px; height:98px; background:#fff; border:1px solid #ffb031; position:absolute; right:0px; top:36px;}
.denglu button{ background:url(/images/public/bon01.jpg) no-repeat;  width:170px; height:43px;  background-position:25px; color:#fff; font-size:16px; margin-top:25px; }
.denglu button:hover{ background:url(/images/public/bon02.jpg) no-repeat;  width:170px; height:43px;  background-position:25px; color:#fff; font-size:16px; margin-top:25px; }
/*---导航结束---*/



/*---底部---*/
.ft{clear:both; color:#777777; padding-top:35px;text-align:center;}
.foot{ clear:both; color:#777777; padding:26px 0 30px 0;text-align:center;background-color:#f9f9f9;}
.contant{ margin-top:10px;}
.contant ul{ list-style:none;}
.contant li{display:inline-block;*display:inline;*zoom:1;line-height:30px;}
.contant li a{ color:#3f3b3a; height:25px; line-height:25px;text-decoration:none;}
.contant li u{color:#3f3b3a;margin:0 12px;}
.contant_img{ padding-bottom:10px;}
.contant_t{ clear:both; text-align:center; margin-bottom:20px;}
.contant_t p{ line-height:25px;}
.contant_t .text{ padding-top:20px;}
.contant_t p.text{margin:20px 0px;}
.bottom_jp{  padding-left:50px; overflow:hidden; padding-bottom:5px;}
.bottom{ padding-bottom:30px;}
.bottom_jp ul{ list-style:none;}
.bottom_jp li{ float:left; margin-left:3px; width:100px;}
.bottom_jp li a{ display:block; text-decoration:none; color:#333; } 		
/*---底部结束---*/
/*弹出层*/
.meng_layer { width:100%;height:100%;position:fixed;left:0px;top:0px;background-color:#000;opacity:0.4;filter:alpha(opacity=40); z-index:10000;}
/*购票提示不能超过5张*/
.prompt_box{ width:484px;height:185px;border:4px solid #e5e5e5; background-color:#fff;position:absolute;left:50%;top:50%;z-index:10001;margin-left:-246px;margin-top:-96.5px; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.prompt_box .close { float:right;background-position:-116px -348px;width:14px;height:13px;margin:9px 7px 0 0;}
.prompt_box .close:hover, .prompt_box .close:active { background-position:-116px -372px;}
.prompt_box .text { float:left;margin:52px 0 0;width:100%;}
.prompt_box .text i { float:left;background-position:-114px -320px;width:18px;height:18px;margin:0 7px 0 122px;}
.prompt_box .text u { float:left;line-height:18px;color:#2b2b2b;font-size:16px;}
.prompt_box .text .loadimg {float:left; background:url(/images/TrainTicket/loading.gif) no-repeat;width:60px;height:60px;margin-left:165px;}
.prompt_box .text .load_text { float:left;margin-left:18px;color:#555555;font-size:14px;line-height:60px;}
.prompt_box_btn { float:left;width:100%;margin-top:44px;}
.prompt_box_btn button { float:left;width:80px;height:28px;line-height:28px;font-size:14px;color:#fff;background-color:#ff9700;margin-left:202px;}
.prompt_box_btn button:hover, .prompt_box_btn button:active { background-color:#da8315;}
/*loading*/
.center { width: 100%; height: 100%; border-collapse: collapse; border-spacing: 0; }
.center tr, .center td { width: 100%; height: 100%; }
.center td { vertical-align: middle; }
.query_box { width: 507px; padding-bottom: 8px; border: 1px solid #dadada; margin: 0 auto; position: relative; }
.query_box_top { background-color: #f9fbff; height: 47px; line-height: 47px; width: 100%; }
.query_box_top img { margin: 5px 30px 0 13px; float: left; }
.query_box_top span { color: #676767; font-size: 16px; float:left;}
.query_box_text { padding: 0 5px 0 6px; float: left; width: 496px; }
.query_flightInfo { margin: 20px 0 0 15px; display: inline; float: left; width: 481px; }
.query_flightInfo p { line-height: 22px; float: left; width: 100%; text-align:left;}
.query_box_text .color, .query_box_text u { color: #f15910; }
.query_box_text .font14px { margin-right: 10px; }
.query_box_text .font14px, .query_box_text .font14px u { font-size: 14px; }
.query_box_text p label { font-family: SimSun; }
.query_box_text img { margin-top: 40px; float: left; width: 496px; height: 201px; overflow: hidden; }
.clear { clear: both; }
.loading { position: absolute; left: 270px; top: 15px; }
/*首页错误框 在右侧显示*/
.error_box {height:25px;line-height:25px;z-index:98;}
div.error_box span.error_box_left{background-position:-184px -309px; float:left; width:29px; height:25px;}
div.error_box span.error_box_right{ position:absolute; border:1px solid #ffc3c3; white-space:nowrap; border-left:none; padding:0 8px 0 4px; height:23px;line-height:23px; float:left;background-color:#fff3f3; color:#e96c6c; }
/*首页错误框 在下面显示*/
div.p_bottm { height:31px;}
div.p_bottm span.error_box_left { background-position:-223px -304px;height:31px;width:23px;}
div.p_bottm span.error_box_right { margin-top:6px;} 
/*除首页外的错误提示框*/
.public_error_box{border:1px solid #fa0202;height:25px; line-height:25px;padding:0 6px 0 6px;color:#e96c6c; float:left;background-color:#fff3f3;margin-left:3px;}
.public_error_box i { float:left;background-position:-261px -262px;width:12px;height:12px;margin:6px 6px 0 0;}
/*flight_company*/
.search_main .form_01 .flight_company{ border: medium none; outline: medium none; padding: 0px 5px; background: url(../../images/iflight/ico_search.png) no-repeat scroll 0px -112px transparent; width:250px; height:33px;line-height:33px; line-height: normal;}
.search_main .form_01 .flight_company_selected{ color:#000;border: medium none; outline: medium none; padding: 0px 5px; background: url(../../images/iflight/ico_search.png) no-repeat scroll 0px -470px transparent; width:250px; height:32px;line-height:33px;}
.search_main .form_01 .flight_company_error{border: medium none; outline: medium none; padding: 0px 5px; background: url(../../images/iflight/ico_search.png) no-repeat scroll 0px -596px transparent;_background: url(../../images/iflight/ie6/ie6_date_error.gif) no-repeat; width:250px; height:33px; color:#ccc; line-height:33px;*vertical-align:-10px;}



/*城市*/
/*.city_box { width:429px;border:1px solid #c5c5c5;background-color:#fff; position:absolute;z-index:3;}*//*-moz-box-shadow:2px 2px 3px #e4e4e4;-webkit-box-shadow:2px 2px 3px #e4e4e4;box-shadow:2px 2px 3px #e4e4e4;*/
/*.city_box p {float:left; padding-left:10px;width:419px;height:34px;line-height:34px;}
.city_box p u { float:left;color:#999999;}
.city_box p a { float:right;background-position:-116px -348px;width:14px;height:13px;margin:10px 10px 0 0;}
.city_box p a:hover,.city_box p a:active {background-position:-116px -372px;}
.city_box ul.city_group {float:left; width:100%;height:25px;padding-top:5px;background-color:#f8f8f8;position:relative;z-index:2;}
.city_box ul.city_group li {float:left;padding:0 10px;height:24px;line-height:24px;width:auto;display:inline;border-bottom:1px solid #d7d7d7;margin:0px;}
.city_box ul.city_group li span {float:left;height:24px;padding:0 7px; line-height:24px;width:auto;color:#555555; display:inline;border:0px;cursor:pointer;}
.city_box ul.city_group li span.selected{height:23px;padding:0 6px;line-height:23px; border:1px solid #d7d7d7; border-bottom:1px solid #fff; background:#fff;}
div.hot_city {width:100%;margin:5px 0 12px;float:left;}
div.hot_city div.city_name { float:left;width:100%;}
div.hot_city div.city_name span {cursor:pointer; float:left;width:63px;height:22px;line-height:22px;margin:3px 8px 0 9px;padding-left:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.hot_city div.city_name span:hover,.city_item ul li span.city_name i:hover { background-color:#3b8de3;color:#fff;}
.city_item { width:100%;float:left;margin-bottom:12px;position:relative;z-index:1;}
.city_item ul { padding:0 5px;}
.city_item ul li { width:419px;float:left;border-top:1px dashed #cbcbcb;padding:7px 0 5px;margin-top:-1px;}
.city_item ul li span.letter { float:left;width:26px;font-size:16px;color:#999999;height:22px;line-height:22px;cursor:pointer;}
.city_item ul li div.city_name { float:left;width:393px;}
.city_item ul li div.city_name span { float:left;width:68px;cursor:pointer;height:22px; line-height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-left:4px;margin-right:6px;}*/
/*拼音*/
/*.pingyin { width:212px; border:1px solid #c5c5c5;position:absolute;top: 188px; left: 302.5px; z-index:3; background-color:#fff;-moz-box-shadow:1px 1px 3px #e0e0e0;-webkit-box-shadow:1px 1px 3px #e0e0e0;box-shadow:1px 1px 3px #e0e0e0;}
.results { height:25px;line-height:25px;padding:0 8px; background-color:#499bf0;}
.results span { color:#fff;float:left;}
.pingyin_list { width:100%; margin-top:4px;}
.pingyin_list li {padding:0 8px;color:#555555; overflow:hidden; cursor:pointer;text-align:right;height:26px;line-height:26px;display:block;}
.pingyin_list li.li-hover { background-color:#499bf0;color:#fff;}
.pingyin_list li.li-hover span { color:#fff;}
.pingyin_list li span { float:left; color:#555555;text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.pingyin_close {background-position:-261px -311px;float:right;width:11px;height:11px;margin-top:7px;}
.pingyin_close:hover, .pingyin_close:active { background-position:-261px -328px;}
.pingyin_page { padding:0 8px; margin:8px 0; text-align:center;}
.pingyin_page a { display:inline-block; *display:inline;*zoom:1; color:#555555; width:13px;height:13px; text-align:center;margin:0 5px;vertical-align:middle;line-height:13px;}
.prev{background-position:-299px -230px;}
.prev:hover, .prev:active { background-position:-299px -247px;}
.next_page{background-position:-299px -263px;}
.next_page:hover, .next_page:active { background-position:-299px -279px;}
.pingyin_page a:hover, .pingyin_page a:active { color:#333333;font-weight:bold;}*/


