@model List<com.pmp.mongo.data.MgProject>
@{
    ViewBag.Title = "项目审核";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h5>会员中心 > 任务中心 > 任务审核</h5>
<h3 class="mc10">项目审核</h3>
<input type="hidden" id="userLevel" value="@ViewBag.level" />

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

